{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1> This is where we put information about what we do.</h1>
    <h2></h2>History</h2>
        <li>Founded in May 2019, and able to graduate 
            more than 100 students and place them on 
            the top 500 fortune companies as full time developer</li>
        <li>MuleSoft ESB</li>
        <li>Java Programming Language(Beginner and Advanced)</li>
        <li>Python Programming Language(Beginner and Advanced)</li>
        <li>Programming Language for MuleSoft Developers</li>
        <li>Quality Assurance(QA)</li>
        <li>Data Base Courses(SQL and NoSQL)</li>
        <li>Consultation to multiple IT Companies</li>
        <li>Consultation, Resume Preparation, and Interview Preparation</li>
        <li>Support in Job Placement, and at Job</li>
        <li>Salesforce Certification Preparation</li>
        <li>AWS Certification Preparation</li>
{% endblock %}
