{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>Wel come Boss, the founder!!!</h1>
    <ul><h2>List of things in this Admin Page:</h2>
        <li>Access to see information of all students like:</li>
            <li>starting date</li>
            <li>reenrolling date</li>
            <li>educational background</li>
            <li>how much already paid</li>
            <li>how much owed</li>
            <li>Date of graduation</li>
            <li>Job start date</li> 
            <li>Company working for</li>
            <li>Contact: Email and Phone</li>
            <li>Updated Resume</li>
        <li>Access to see list of registered students</li>
        <li>Access to see list of enrolled students</li>
        <li>Access to see list of dropped out students</li>
        <li>Access to see informations about Employees/Lecturers</li>
        <li>Access for Organization financial status</li>
    </ul>
{% endblock %}
